<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <div id="home-top" data-ng-show="previewCapture" class="ng-cloak">
            <div class="image-area-home">
                <img data-ng-src="{{mediaFiles[0].fullPath}}" alt="Preview" width="100%" height="auto" />
            </div>
        </div>
        <button id="home-button1" style="border-radius:10px 10px 10px 10px;" class=" button button-royal  button-block icon ion-upload " data-ng-click="manualCapture()" data-ng-hide="uploadConfirm">Upload</button>
        <button id="home-button2" style="border-radius:10px 10px 10px 10px;" class=" button button-balanced  button-block icon ion-radio-waves " data-ng-click="autoModeCapture()" data-ng-hide="uploadConfirm">Start session</button>
        <form id="home-form1" class="list ng-cloak" data-ng-show="uploadConfirm">
            <label class="item item-input" id="home-textarea1">
                <span class="input-label"></span>
                <textarea placeholder="Comments (optional)" data-ng-model="comments"></textarea>
            </label>
            <div id="home-button-bar1" class=" button-bar ">
                <button id="home-button4" class=" button button-balanced button-block" data-ng-click="uploadImage()">Ok</button>
                <button id="home-button5" class=" button button-stable button-block" data-ng-click="cancelUpload()">Cancel</button>
            </div>
        </form>
    </ion-content>
</ion-view>