<ion-view title="Settings" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="settings-form2" class="list ">
            <label class="item item-select " id="settings-select1">
                <span class="input-label">Privacy</span>
                <select>
                    <option>Public</option>
                    <option>Private</option>
                    <option>Groups</option>
                </select>
            </label>
            <ion-item class="range range-balanced " id="settings-range1">Image Frequency
                <input type="range" value="30" min="10" max="60">
            </ion-item>
        </form>
    </ion-content>
</ion-view>